/*
Theme Name: Maxmedia 2017
Author: Dan Nagle
Description: Description
Version: 1.0.10
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: maxmedia-2017
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready
Theme Version: 1.0.10
Bitbucket Theme URI: https://bitbucket.org/dnagle/maxmedia-2017

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

maxmedia-2017 is based on Underscores http://underscores.me/, (C) 2012-2016 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal http://necolas.github.io/normalize.css/
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
	## Posts and pages
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
html {
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust:     100%;
}

body {
	margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
	display: block;
}

audio,
canvas,
progress,
video {
	display: inline-block;
	vertical-align: baseline;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

[hidden],
template {
	display: none;
}

a {
	background-color: transparent;
}

a:active,
a:hover {
	outline: 0;
}

abbr[title] {
	border-bottom: 1px dotted;
}

b,
strong {
	font-weight: bold;
}

dfn {
	font-style: italic;
}

h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

mark {
	background: #ff0;
	color: #000;
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

img {
	border: 0;
}

svg:not(:root) {
	overflow: hidden;
}

figure {
	margin: 1em 40px;
}

hr {
	box-sizing: content-box;
	height: 0;
}

pre {
	overflow: auto;
}

code,
kbd,
pre,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
	color: inherit;
	font: inherit;
	margin: 0;
}

button {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}

button[disabled],
html input[disabled] {
	cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input {
	line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}

legend {
	border: 0;
	padding: 0;
}

textarea {
	overflow: auto;
}

optgroup {
	font-weight: bold;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td,
th {
	padding: 0;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
@font-face {
	font-family: 'Intro';
	src: url('fonts/intro.eot');
	src: url('fonts/intro.eot?#iefix') format('embedded-opentype'),
		url('fonts/intro.woff') format('woff'),
		url('fonts/intro.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('fonts/roboto.eot');
	src: url('fonts/roboto.eot?#iefix') format('embedded-opentype'),
		url('fonts/roboto.woff') format('woff'),
		url('fonts/roboto.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
  font-family: "hioice-maxmedia";
  src:url("fonts/hioice-maxmedia.eot");
  src:url("fonts/hioice-maxmedia.eot?#iefix") format("embedded-opentype"),
    url("fonts/hioice-maxmedia.woff") format("woff"),
    url("fonts/hioice-maxmedia.ttf") format("truetype"),
    url("fonts/hioice-maxmedia.svg#hioice-maxmedia") format("svg");
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  font-family: "hioice-maxmedia" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "hioice-maxmedia" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-place-marker-1:before {
  content: "\61";
}
.icon-paper-plane-2:before {
  content: "\62";
}
.icon-twitter-1:before {
  content: "\63";
}
.icon-paper-plane-1:before {
  content: "\64";
}
.icon-facebook-1:before {
  content: "\65";
}
.icon-gplus-1:before {
  content: "\66";
}
.icon-linkedin-1:before {
  content: "\67";
}
.icon-attention:before {
  content: "\68";
}
.icon-left-open-big:before {
  content: "\69";
}
.icon-left-open:before {
  content: "\6a";
}
.icon-right-open:before {
  content: "\6b";
}
.icon-right-open-big:before {
  content: "\6c";
}
.icon-right-open-mini:before {
  content: "\6d";
}
.icon-left-open-mini:before {
  content: "\6e";
}
.icon-place-marker-2:before {
  content: "\6f";
}
.icon-mail-1:before {
  content: "\70";
}
.icon-mail-2:before {
  content: "\71";
}

body,
button,
input,
select,
optgroup,
textarea {
	color: #404040;
	font-family: 'Roboto', 'Helvetica Neue', helvetica, arial, sans-serif;
	font-size: 16px;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.66;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Intro', sans-serif;
	text-transform: uppercase;
	clear: both;
	line-height: 1.4;
	margin: 0 0 0.75em;
	padding: 1.5em 0 0;
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
	padding-top: 0;
}

h1 {
	font-size: 24px;
	font-size: 1.5rem;
	font-weight: 300;
}

h2,
.home.blog .entry-title {
	color: #666;
	font-size: 20px;
	font-size: 1.25rem;
	font-weight: 300;
}

h3 {
	color: #333;
	font-size: 18px;
	font-size: 1.125rem;
	font-weight: 300;
}

h4 {
	color: #333;
	font-size: 16px;
	font-size: 1rem;
	font-weight: 800;
}

h5 {
	color: #767676;
	font-size: 13px;
	font-size: 0.8125rem;
	font-weight: 800;
	letter-spacing: 0.15em;
	text-transform: uppercase;
}

h6 {
	color: #333;
	font-size: 15px;
	font-size: 0.9375rem;
	font-weight: 800;
}

p {
	margin: 0 0 1.5em;
	padding: 0;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 15px;
	font-size: 0.9375rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code,
kbd,
tt,
var {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	font-size: 15px;
	font-size: 0.9375rem;
}

abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark,
ins {
	background: #fff9c0;
	text-decoration: none;
}

big {
	font-size: 125%;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
	box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: #fff; /* Fallback for when there is no custom background color defined. */
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
}

blockquote,
q {
	quotes: "" "";
}

hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

ul,
ol {
	margin: 0 0 1.5em 3em;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

figure {
	margin: 1em 0; /* Extra wide images within figure tags don't overflow the content area. */
}

table {
	margin: 0 0 1.5em;
	width: 100%;
}

/*--------------------------------------------------------------
# Colors
--------------------------------------------------------------*/
.blue {
	color: #389ebf;
}
.blue-bg {
	background-color: #389ebf;
}
.pink {
	color: #e14473;
}
.pink-bg {
	background-color: #e14473;
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: #ccc #ccc #bbb;
	border-radius: 3px;
	background: #e6e6e6;
	color: rgba(0, 0, 0, .8);
	font-size: 12px;
	font-size: 0.75rem;
	line-height: 1;
	padding: .6em 1em .4em;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	border-color: #ccc #bbb #aaa;
}

button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
	border-color: #aaa #bbb #bbb;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: #666;
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 3px;
}

select {
	border: 1px solid #ccc;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
	color: #111;
}

textarea {
	width: 100%;
}

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
	color: royalblue;
}

a:visited {
	color: purple;
}

a:hover,
a:focus,
a:active {
	color: midnightblue;
}

a:focus {
	outline: thin dotted;
}

a:hover,
a:active {
	outline: 0;
}

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/

/* WIP
.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;
}
*/
.main-navigation ul {
	display: none;
	list-style: none;
	margin: 0;
	padding-left: 0;
}

.main-navigation li {
	float: left;
	position: relative;
}

.main-navigation a {
	display: block;
	text-decoration: none;
}

.main-navigation ul ul {
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
	float: left;
	position: absolute;
	top: 100%;
	left: -999em;
	z-index: 99999;
}

.main-navigation ul ul ul {
	left: -999em;
	top: 0;
}

.main-navigation ul ul a {
	width: 200px;
}

.main-navigation ul ul li {

}

.main-navigation li:hover > a,
.main-navigation li.focus > a {
}

.main-navigation ul ul :hover > a,
.main-navigation ul ul .focus > a {
}

.main-navigation ul ul a:hover,
.main-navigation ul ul a.focus {
}

.main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul {
	left: auto;
}

.main-navigation ul ul li:hover > ul,
.main-navigation ul ul li.focus > ul {
	left: 100%;
}

.main-navigation .current_page_item > a,
.main-navigation .current-menu-item > a,
.main-navigation .current_page_ancestor > a,
.main-navigation .current-menu-ancestor > a {
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
	margin: 0 0 1.5em;
	overflow: hidden;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	width: 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
	outline: 0;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
	content: "";
	display: table;
	table-layout: fixed;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
	clear: both;
}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
	margin: 0 0 1.5em;
}

/* Make sure select elements fit in widgets. */
.widget select {
	max-width: 100%;
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5rem auto;
	max-width: 800px;
	width: 100%;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation, /* Older / Newer Posts Navigation (always hidden) */
.infinite-scroll.neverending .site-footer { /* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
	display: block;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

/* Make sure logo link wraps around logo image. */
.custom-logo-link {
	display: inline-block;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

.wp-caption-text {
	text-align: center;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
	margin-bottom: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 33.33333%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66667%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28571%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11111%;
}

.gallery-caption {
	display: block;
}

/*--------------------------------------------------------------
# Flexbox containers
--------------------------------------------------------------*/
.flex-row {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
/*--------------------------------------------------------------
# Customizations
--------------------------------------------------------------*/
/* Site Header */
.site-header {
  position: absolute;
  width: 100%;
  z-index: 30;
}
.site-header .wrap {
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  flex-flow: row;
  margin: 0 auto;
  max-width: 1200px;
  padding: 0;
  width: 100%;
}
.site-header .wrap .site-branding {
  position: relative;
}
.site-header .wrap .site-branding img {
	max-width: 170px;
}
.site-header .wrap .main-navigation,
.site-header .wrap .social-navigation {
/*
  flex-shrink: 0;
  flex-grow: 1;
  flex-basis: auto;
  position: relative;
  display: inline-block;*/
}
.menu-navigation-menu-container,
.menu-social-icons-container {
  display: table;
  margin: 0;
}
#primary-menu,
#menu-social-icons {
  margin: 0 auto;
  list-style: none;
  padding: 0;
}
#primary-menu li {
  display: inline-block;
  width: 100px;
}
#menu-social-icons li {
  display: inline-block;
}
.site-header .menu-navigation-menu-container li {
  margin-right: 15px;
}
.site-header .menu-social-icons-container li {
  margin-right: 5px;
}
.site-header .menu-navigation-menu-container li:last-child,
.site-header .menu-social-icons-container li:last-child {
  margin-right: 0;
}

#primary-menu li>a {
  color: #fff;
  font-size: 1.25rem;
  font-weight: 400;
  text-decoration: none;
  text-align: center;
  padding-bottom: 10px;
  min-width: 100px;
  border-bottom: 4px solid transparent;
  display: block;
}
#primary-menu li>a:hover {
  text-decoration: none;
  border-bottom: 4px solid #389ebf;
}
#menu-social-icons li {
  display: inline-block;
}
#menu-social-icons>a {
  text-decoration: none;
}
.site-header .menu-navigation-menu-container li {
  margin-right: 15px;
}
.site-header .menu-social-icons-container li {
  margin-right: 5px;
}
.site-header .menu-navigation-menu-container li:last-child,
.site-header .menu-social-icons-container li:last-child {
  margin-right: 0;
}
@media all and (max-width: 1240px) {
  .site-header .menu-social-icons-container li:last-child {
    margin-right: 5px;
  }
}
@media all and (min-width: 800px) {
  .site-branding { order: 1; } 
  .main-navigation { order: 2; }
  .social-navigation { order: 3; }
}
@media all and (max-width: 799px) {
  .social-navigation { order: 2; }
  .main-navigation {
  	/* flex: 1 0px; */
  	order: 3;
  }
  .main-navigation .menu-navigation-menu-container {
  	display: none;
  }
  .main-navigation .menu-toggle {
  	display: block;
  }
}

/* Custom Icons */
.custom-icon {
  line-height: 18px;
  background: transparent;
  border-radius: 100%;
  border: 2px solid #fff;
  color: #fff;
  display: table-cell;
  font-size: 20px;
  height: 46px;
  padding: 10px;
  text-align: center;
  transition: .5s;
  vertical-align: middle;
  width: 46px;
}
.custom-icon:hover {
  background: rgba(0, 0, 0, 0.6);
}
.icon-facebook-1:hover {
  background: rgba(59, 89, 152, 0.6);
}
.icon-gplus-1:hover {
  background: rgba(211, 72, 54, 0.6);
}
.icon-linkedin-1:hover {
  background: rgba(0, 119, 181, 0.6);
}
.icon-twitter-1:hover {
  background: rgba(0, 132, 180, 0.6);
}
.fix-editor {
  display: none;
}
.icon-wrapper {
  display: inline-block;
}

/* Page Headings */
#main .error-404 > header,
#main .page > header,
#main .post > header {
	margin: 0;
	padding: 0;
	position: relative;
	width: 100%;
	height: 580px;
	background-color: #e14473;
	background: url(images/mm-bg-pattern.jpg);
	color: #fff;
	overflow: hidden;
}
h1.entry-title,
h1.page-title {
	position: relative;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0;
	font-size: 6em;
	top: 300px;
}
.entry-header .entry-meta {
	bottom: 0.25rem;
	left: 1rem;
	position: absolute;
}
@media screen and (max-width: 400px) {
	h1.entry-title,
    h1.page-title {
		font-size: 3rem;
	}
	.our-story-container {
		padding: 1rem;
		font-size: 1rem;
		line-height: 1.3rem;
	}
}

.entry-footer {
	margin: 2rem auto;
	max-width: 50rem;
	width: 100%;
}
#comments {
	background: rgb(220, 220, 220) none repeat scroll 0 0;
	margin: 2rem auto;
	max-width: 50rem;
	padding: 1rem;
	width: 100%;
}
/* Page Content Block */
#content .entry-content {
	max-width: 600px;
	margin: 5rem auto;
}
@media screen and (max-width: 640px) {
	#content .entry-content {
		max-width: 90%;
	}
}

/* Front panel 1 */
.front-page-1 {
	display: table;
	overflow: hidden;
	position: relative;
	table-layout: fixed;
	width: 100%;
	z-index: 10;
}
.front-page-1 .bg-stretch {
	height: 100%;
	margin: 0px;
	padding: 0px;
	width: 100%;
	z-index: -999998;
}
.front-page-1 .bg-stretch img {
	left: 0px;
	margin: 0px;
	max-height: none;
	max-width: none;
	padding: 0px;
	position: absolute;
	top: 0px;
	width: 100%;
	z-index: -999999;
}
#front-panel-1 .front-page-1 h1 {
	margin-top: 20%;
	margin-left: 20%;
	font-size: 7em;
	max-height: 300px;
}
#front-panel-1 .front-page-1 {
	margin: 0 auto;
}
#front-panel-1 .front-page-1 .line-1 {
	color: #fff;
	display: block;
	padding-left: 0.8em;
}
#front-panel-1 .front-page-1 .line-2 {
	color: #e14473;
	display: block;
	position: relative;
	top: -0.75em;
}
#front-panel-1 .front-page-1 .line-3 {
	color: #389ebf;
	display: block;
	padding-left: 1.05em;
	position: relative;
	top: -1.5em;
}

@media screen and (min-width: 750px) and (max-width: 1000px) {
	#front-panel-1 .front-page-1 h1 {
		font-size: 5em;
	}
}
@media screen and (min-width: 600px) and (max-width: 749px) {
	#front-panel-1 .front-page-1 h1 {
		font-size: 4em;
	}
}
@media screen and (min-width: 400px) and (max-width: 599px) {
	#front-panel-1 .front-page-1 h1 {
		font-size: 3em;
	}
}
@media screen and (max-width: 399px) {
	#front-panel-1 .front-page-1 h1 {
		font-size: 2em;
	}
}

/* Front panel 2 */
.pink-text {
	color: #e14473;
}
.content-block {
	max-width: 1200px;
	margin: 0 auto;
	padding: 50px;
}
.content-block h3 {
	font-size: 6em;
	line-height: 1;
	margin-bottom: 0;
}
.content-block p {
	font-size: 2rem;
}

@media screen and (min-width: 750px) and (max-width: 900px) {
	.content-block h3 {
		font-size: 5em;
	}
	.content-block p {
		font-size: 1.7em;
	}
}
@media screen and (min-width: 640px) and (max-width: 749px) {
	.content-block h3 {
		font-size: 4.5em;
	}
	.content-block p {
		font-size: 1.5em;
	}
}
@media screen and (min-width: 550px) and (max-width: 639px) {
	.content-block h3 {
		font-size: 4em;
	}
	.content-block p {
		font-size: 1.4em;
	}
}
@media screen and (min-width: 440px) and (max-width: 549px) {
	.content-block h3 {
		font-size: 3em;
	}
	.content-block p {
		font-size: 1.2em;
	}
}
@media screen and (max-width: 439px) {
	.content-block h3 {
		font-size: 2em;
	}
	.content-block p {
		font-size: 1.2em;
	}
	.content-block {
		padding: 1em;
	}
}

/* Front panel 3 */
#front-panel-3 {
	background: rgb(220, 220, 220) none repeat scroll 0 0;
	margin: 0;
	padding: 40px 0 210px;
	width: 100%;
}

/* Front panel 4 */
#front-panel-4 {
	background-color: #fff;
	margin-bottom: -100px;
}
#front-panel-4 .intro-box-container {
	position: relative;
	z-index: 30;
}

/* Front panel 5 */
#front-panel-5 {
	color: #fff;
	background-color: #333;
}
#front-panel-5 .hioice-logo-container {
	position: relative;
	top: -75px;
	z-index: 20;
}

/* Hexagon Headings */
.mm-hh-container {
	font-size: 0;
	height: 250px;
	line-height: 0;
	position: relative;
	text-align: center;
	z-index: 25;
}
.mm-hh-container .mm-hh-img {
	line-height: 0;
	position: relative;
	z-index: 35;
}
.mm-hh-container .mm-hh-heading {
	color: #fff;
	font-size: 1.4rem;
	margin: 0 auto;
	padding: 0;
	position: relative;
    top: -50%;
    transform: perspective(1px) translateY(-50%);
	z-index: 45;
}
.mm-hh-container .mm-hh-heading .mm-hh-wrap {
	display: inline-block;
	max-width: 200px;
	overflow-wrap: normal;
}
.mm-hh-container {
	top: -100px;
}

/* Showcase CPT */
.showcase-grid {
	position: relative;
    overflow: hidden;
	width: 100%;
	margin: -4em 0 0;
	padding: 0;
}
.showcase-grid .showcase-panel {
	position: relative;
	float: left;
	overflow: hidden;
	width: 25%;
}
.showcase-grid .showcase-panel a:focus {
	outline: none;
}
.showcase-grid .showcase-item .showcase-panel {
	position: relative; 
	display: block;
}
.showcase-grid .showcase-panel img {
	display: block;
	width: 100%;
	height: auto;
}
.showcase-grid .showcase-logo {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: 0;
	/* flexbox */
	display: flex;
	align-items: center;
	justify-content: center;
}
.showcase-grid .showcase-panel .showcase-logo img {
	margin: 0 auto;
	height: 80px;
	width: auto;
	position: relative;
	filter: drop-shadow(16px 16px 20px black);
}
.showcase-grid .showcase-panel .showcase-hover {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: 0;

	opacity: 0;
	background-color: #389ebf;
}
.showcase-grid .showcase-panel:nth-of-type(even) .showcase-hover {
  background-color: #e14473;
}
.showcase-grid .showcase-panel .showcase-hover .showcase-content {
	height: 100%;
	width: 100%;
}
.showcase-grid .showcase-panel:hover .showcase-hover .showcase-content {
	opacity: 1;
}
.showcase-grid .showcase-panel:hover .showcase-logo {
	opacity: 0;
}
.showcase-grid .showcase-panel:hover .showcase-hover {
	opacity: 0.8;
}
.showcase-grid .showcase-panel .showcase-hover .showcase-content img {
	margin: 0.5rem auto;
	max-height: 80px;
	width: auto;
	max-width: 100%;
}
.showcase-content .showcase-text {
	position: relative;
	width: 100%;
	height: 60%;
	border-top: 1px solid #fff;
	/* flexbox */
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	align-items: center;
	align-content: center;
	justify-content: center;
}
.showcase-content .showcase-text p {
	color: #fff;
	margin: auto;
	padding: 1em;
}

@media screen and (min-width: 901px) and (max-width: 1200px) {
	.showcase-grid .showcase-panel {
		width: 33.333%;
		width: -webkit-calc(100% / 3);
		width: calc(100% / 3);
	}
}

@media screen and (min-width: 601px) and (max-width: 900px) {
	.showcase-grid .showcase-panel {
		width: 50%;
	}
}

@media screen and (max-width: 600px) {
	.showcase-grid .showcase-panel {
		width: 100%;
	}
}

@media screen and (max-width: 300px) {
	.showcase-grid .showcase-panel .showcase-hover .showcase-content img {
		max-height: 50px;
	}
}

/* Intro Boxes CPT */
.intro-box-container {
	margin: 0 auto;
	max-width: 1280px;
	/* flexbox container */
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: stretch;
	align-content: stretch;
}
.intro-box-wrap {
	max-width: 400px;
	color: #fff;
	/* flexbox */
	flex: 1 0 auto;
	/* flexbox container */
	display: flex;
	flex-direction: column;
	align-items: stretch;
	align-content: stretch;
}
.intro-box-content {
	top: -0.5rem;
	position: relative;
	padding: 1.8rem;
	/* flexbox */
	flex: 1 0 auto;
}
.intro-box-content.odd {
	background: #389ebf;
}
.intro-box-content.odd:after {
	border-bottom-color: #389ebf;
}
.intro-box-content.even {
	background: #e14473;
}
.intro-box-content.even:after {
	border-bottom-color: #e14473;
}
.intro-box-content:after {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(225, 68, 115, 0);
	border-width: 1rem;
	margin-left: -1rem;
}
.intro-box-content h3 {
	color: #fff;
	font-size: 2rem;
	letter-spacing: 2px;
}
.intro-box-content p {
	font-size: 1.4rem;
	font-weight: 300;
	letter-spacing: 1px;
	line-height: 2rem;
}

@media screen and (min-width: 600px) and (max-width: 1200px) {
	.intro-box-wrap {
		width: 300px;
	}
}
@media screen and (min-width: 401px) and (max-width: 599px) {
	.intro-box-content p {
		line-height: 2rem;
	}
}
@media screen and (max-width: 400px) {
	.intro-box-wrap,
	.intro-box-img {
		width: 100%;
		max-width: 400px;
	}
	.intro-box-content {
		padding: 0.5rem;
	}
	.intro-box-content h3 {
		color: #fff;
		font-size: 1.6rem;
	}
	.intro-box-content p {
		font-size: 1.1rem;
		line-height: 1.5rem;
		padding-right: 0.5rem;
	}
}

/* Client Logos Carousel */
#front-panel-5 {
	height: 32rem;
	padding: 12rem 0;
}
.carousel-container {
	align-items: center;
    display: flex;
    width: 100%;
}
.carousel-container .carousel-wrap {
    overflow: hidden;
    width: 100%;
}
.carousel {
	display: flex;
    left: -100%;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    transform: translateX(100%);
}
@media screen and (min-width: 800px) {
    .carousel {
        left: -50%;
        transform: translateX(50%);
    }
}
@media screen and (min-width: 1024px) {
    .carousel {
        left: -33.33333%;
        transform: translateX(33.33333%);
    }
}
@media screen and (min-width: 1408px) {
    .carousel {
        left: -25%;
        transform: translateX(25%);
    }
}
.carousel.go-prev {
    transform: translateX(-100%);
}
@media screen and (min-width: 800px) {
    .carousel.go-prev {
        transform: translateX(-50%);
    }
}
@media screen and (min-width: 1024px) {
    .carousel.go-prev {
        transform: translateX(-33.33333%);
    }
}
@media screen and (min-width: 1408px) {
    .carousel.go-prev {
        transform: translateX(-25%);
    }
}
.carousel.has-transformed {
    transform: none;
    transition: transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}
.carousel-slide {
    flex: 1 0 100%;
    order: 2;
}
@media screen and (min-width: 800px) {
    .carousel-slide {
        flex-basis: 50%;
    }
}
@media screen and (min-width: 1024px) {
    .carousel-slide {
        flex-basis: 33.33333%;
    }
}
@media screen and (min-width: 1408px) {
    .carousel-slide {
        flex-basis: 25%;
    }
}
.carousel-slide.reference {
    order: 1;
}
.slide-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
	height: 100%;
	line-height: 100%;
	margin: 0 auto;
    max-width: 15rem;
	text-align: center;
	width: 100%;
}
.carousel-controls {
    display: flex;
    flex-direction: column;
	height: 100%;
    justify-content: center;
	margin: 0;
    padding: 0 0.5rem;
    text-align: center;
}
.carousel-controls button {
    background-color: transparent;
    border: 0;
    border-radius: 0.25rem;
	color: #e14473;
	height: 2.5rem;
    padding: 0;
	width: 1.5rem;
}
.carousel-controls button:hover,
.carousel-controls button:focus {
	color: #389ebf;
}
.carousel-controls .carousel-btn {
	font-size: 2.5rem;
}
.carousel-controls .carousel-btn.carousel-prev {
	background: url('images/arrow-left.png');
}
.carousel-controls .carousel-btn.carousel-next {
	background: url('images/arrow-right.png');
}
.carousel-container .carousel-controls:first-child {
	margin-left: 0.5rem;
}
.carousel-container .carousel-controls:last-child {
	margin-right: 0.5rem;
}
.flex-caption {
    width: 96%;
    padding: 2%;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .5);
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .3);
    font-size: 1rem;
    line-height: 1.3rem;
}
p.flex-caption {
	border: 0;
	display: none;
	margin: 0;
	padding: 0;
}

@media screen and (min-width: 480px) and (max-width: 799px) {
	/* 480px width */
	.carousel-controls {
    	padding: 0 2rem;
    	text-align: center;
	}
}
@media screen and (min-width: 480px) {
	.carousel-container .carousel-controls:first-child {
		margin-left: 3rem;
	}
	.carousel-container .carousel-controls:last-child {
		margin-right: 3rem;
	}
}
/* Our Story */
.our-story-container {
	font-size: 1.2rem;
	line-height: 1.8rem;
	padding: 5rem 2rem;
}
.our-story-container .mm-hh-container {
	margin-bottom: -5rem;
	top: -9rem;
}
@media screen and (min-width: 25.1rem) {
	.our-story-container {
		font-size: 1.6rem;
		line-height: 2.2rem;
		padding: 4.125rem 3rem 7.5rem;
	}
}
@media screen and (min-width: 40rem) {
	.our-story-container {
		font-size: 2rem;
		line-height: 2.6rem;
		margin: 0 auto;
		max-width: 50rem;
		padding: 4.125rem 4rem 7.5rem;
	}
	.our-story-container .mm-hh-container {
		top: -12.5rem;
	}
}
/* Our Team */
#our-team {
	width: 100%;
	margin: 0;
	padding: 0;
	background: rgb(220, 220, 220) none repeat scroll 0 0;
}
.hioice-our-team-container {
	width: 100%;
	margin: 0;
	padding: 0;
	background: rgb(220, 220, 220) none repeat scroll 0 0;
}
.hioice-our-team-container .team-members {
	margin: 0 auto;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
}
.team-members .team-member {
	flex-grow: 1;
	background: rgb(255, 255, 255) none repeat scroll 0 0;
    display: inline-block;
	margin: 10px 5px !important;
	padding: 0;
	vertical-align: top;
	width: calc(100% - 10px);
}
.team-member .team-member-headshot {
	overflow: hidden;
}
.team-member .team-member-headshot img {
	border-radius: 0;
	box-shadow: none;
	cursor: pointer;
	height: auto;
	width: 100%;
}
.team-member .team-member-name {
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: left;
	color: #e14473 !important;
	border-bottom: 1px #ddd solid;
	margin: 10px;
	padding: 0 0 5px;
}
.team-member .team-member-position {
	font-size: 13px;
	line-height: 18px;
	text-transform: uppercase;
	text-align: left;
	color: #aaa !important;
	margin: 0 10px 20px;
	padding: 0;
}
@media only screen and (max-width: 37.5rem) {
	.hioice-our-team-container .team-member { 
		width: 100%;
	}
}
@media only screen and (min-width: 37.5rem) {
	.hioice-our-team-container .team-member { 
		max-width: calc(50% - 10px);
	}
}
@media only screen and (min-width: 56rem) {
	.hioice-our-team-container .team-member { 
		max-width: calc(33% - 10px);
	}
}
@media only screen and (min-width: 75rem) {
	.hioice-our-team-container .team-member { 
		max-width: calc(25% - 10px);
	}
}

/* Google Map Banner */
#contact-office-location {
	background: rgb(220, 220, 220) none repeat scroll 0 0;
	margin: 0;
	padding: 0;
	width: 100%;
}
#contact-office-location .mm-hh-container {
	margin-bottom: -20px;
}
.map-banner {
	height: 25rem;
	margin: 0;
	padding: 0;
	width: 100%;
}
.map-frame {
	width: 100%;
	height: 100%;
	position: relative;
}

/* Contact CTA Banner - Get In Touch */
#contact-cta-banner {
	width: 100%;
	border-top: 1px solid #389ebf;
	color: #f8f8f8;
	background: url(images/contact-banner-bg.jpg) no-repeat center center;
	background-size: cover;
}
#contact-cta-panel {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 100px 0;
	font-size: 2.2rem;
	line-height: 1;
	letter-spacing: 1px;
	text-align: center;
}
h3.contact-cta-heading {
	margin: 50px auto;	
	text-align: center;
	color: #fff;
}
a.contact-cta-link {
	font-size: 2rem;
	margin: 0 auto;	
	padding: 34px 62px 27px;
	border: 2px #fff solid;
	color: #fff;
	text-decoration: none;
}
a.contact-cta-link:hover {
	border: 2px #e14473 solid;
	text-decoration: none;
}
.contact-cta-link span {
  line-height: 2rem;
}
p.contact-cta-text {
	margin-top: 2rem;
	font-size: 2rem;
	line-height: 1.3;
}
@media screen and (min-width: 901px) and (max-width: 1200px) {
	#contact-cta-panel {
		font-size: 1.6rem;
		overflow: hidden;
	}
	p.contact-cta-text {
		padding: 0 2rem;
		font-size: 1.6rem;
	}
}
@media screen and (min-width: 641px) and (max-width: 900px) {
	#contact-cta-panel {
		padding: 50px 0;
		font-size: 1.6em;
		overflow: hidden;
	}
	p.contact-cta-text {
		padding: 0 2rem;
		font-size: 1.6rem;
	}
}
@media screen and (min-width: 401px) and (max-width: 640px) {
	#contact-cta-panel {
		padding: 0;
		font-size: 1.2rem;
		overflow: hidden;
	}
	a.contact-cta-link {
		font-size: 1.4em;
	}
	p.contact-cta-text {
		font-size: 1.2rem;
		padding: 1.2rem;
	}
}
@media screen and (max-width: 400px) {
	#contact-cta-panel {
		padding: 1rem;
		font-size: 1rem;
		overflow: hidden;
	}
	h3.contact-cta-heading {
		margin: 2rem 0;
	}
	a.contact-cta-link {
		padding: 1.25rem 1.5rem 1rem;
		font-size: 1.1rem;
	}
	p.contact-cta-text {
		padding: 0.9em 0;
		font-size: 1rem;
		line-height: 1.4;
	}
}

/* Website Footer */
.site-footer {
	position: relative;
	border-top: 10px solid #389ebf;
	background-color: #e14473;
	background: url(images/mm-bg-pattern.jpg);
	color: #fff;
	font-size: 18px;
	font-size: 1.125rem;
	font-weight: 300;
	line-height: 1.6;
	height: 560px;
}
.site-footer .widget-area {
	max-width: 1200px;
	padding: 125px 0 0;
	margin: 0 auto;
	overflow: auto;
}
.site-footer .widget-column.footer-widget-1 {
	float: left;
}
.site-footer .widget-column.footer-widget-2 {
	float: right;
}

/* Contact Details */
#footer-panel-1 {
	font-size: 16px;
	letter-spacing: 1px;
}
ul.contact-list {
	margin: 1rem 0 0;
	padding: 0;
}
li.contact-list-item {
	list-style-type: none;
	line-height: 34px;
	vertical-align: middle;
	margin-bottom: 0.5rem;
}
li.contact-list-item img {
	width: 32px;
	height: 32px;
	margin-right: 1em;
	vertical-align: middle;
}
li.contact-list-item a {
	text-decoration: none;
	color: #fff;
	vertical-align: middle;
}
li.contact-list-item span.item-wrap {
	display: inline;
	vertical-align: middle;
}

/* Legal Information */
.hioice-legal-info {
  padding: 0.75rem;
  position:absolute;
  bottom:0;
  left: 0;
  right: 0;
  width: 100%;
  font-size: 0.75rem;
}
.hioice-legal-info p {
	margin: 0 auto;
	text-align: center;
}
.hioice-legal-info a {
	text-decoration: none;
	color: #fff;
}
.hioice-legal-info a:hover {
	text-decoration: underline;
}

@media screen and (max-width: 25rem) {
	/*max-width : 400px */
	.site-info .widget-area {
		padding: 4rem 0.9rem;
	}
}
@media screen and (min-width: 25rem) and (max-width: 80rem) {
	/* 400px - 1280px */
	.site-info .widget-area {
		padding: 8rem 3rem 3rem;
	}
}

/* Contact Us Page */

div.contact-form-container > div.mm-hh-container {
	top: -220px;
	margin-bottom: -120px;
}
.contact-form-container {
	margin: 0 auto;
	max-width: 600px;
	padding: 100px 0;
	width: 100%;
}
.contact-form-container form,
.contact-form-container label,
.contact-form-container input {
	font-size: 1em;
}
.contact-form-container fieldset {
	padding: 0.5em 1em;
	width: 25em;
}
.contact-form-container label {
	color: #fff;
	display: block;
}
.contact-form-container .input-wrapper {
	display: flex;
	flex-direction: row;
	margin-bottom: 2rem;
	vertical-align: top;
}
.contact-form-container .label-wrapper {
	background-color: #389ebf;
	flex: none;
	height: 2.2em;
	min-width: 100px;
	padding: 0.4em;
	text-align: center;
	width: 100px;
}
.contact-form-container .wpcf7-form-control-wrap {
	flex: 1 1 auto;
	margin-left: 10px;
}
.contact-form-container .wpcf7-submit {
	background-color: #389ebf;
	color: #fff;
	margin-left: calc(100% - 100px);
	min-width: 100px;
	padding: 0.3em 1em;
	text-align: center;
	width: 100px;
}
.contact-form-container input,
.contact-form-container textarea {
	background-color: #eeeeee;
	border-color: #eeeeee;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	column-rule-color: #eeeeee;
	max-width: 490px;
	outline-color: #eeeeee;
	width: 100%;
}
.contact-form-container input{
	height: 35px;
}
.contact-form-container br {
	display: none;
}

@media screen and (max-width: 25rem) {
	.contact-form-container .input-wrapper {
		flex-direction: column;
		margin-bottom: 0.5rem;
	}
	.contact-form-container .wpcf7-form-control-wrap {
		margin: 0.4rem 0;
	}
}
@media screen and (max-width: 38rem) {
	.contact-form-container .input-wrapper {
		padding: 0.9rem;
	}
}